<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Template</title>
    <link rel="stylesheet" href="public/css/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="public/css/slick/slick.css"/>
    <link rel="stylesheet" href="public/css/css/style.css" />
    <link rel="stylesheet" href="public/css/css/responsive.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script src="public/js/vendor/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
    <div class="large-4 medium-4 small-12 columns">
    <div id="logo"><a href="/faq"><img src="public/images/log.png" alt="Business Hour Group">Business Hour Group</a></div>
    </div>
    <div class="large-8 medium-8 small-12 columns">
    <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"> </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="/"><span>Home</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="/">Home</a></li>
      <li><a href="about-us">About Us</a></li>
      <li class="active"><a href="faq">FAQs</a></li>
      <li><a href="services">Services</a></li>
      <li><a href="contacts">Contact</a></li>
      <li><a href="coming-soon">Coming</a></li>      
      </ul>
      </li>
    </ul>
  </section>
</nav>
    </div>
    </div>
    
    
<div class="inner-banner">
  <img src="public/images/7877.png" alt="About Us"> </div>
    
 <div class="content-sec inner-sec">
 <div class="row">
 <div class="large-12 columns">
 <h2>FREQUENTLY ASKED QUESTIONS</h2>
 </div>
 <div class="clearfix"></div>
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>What are Pre-Written Startup Business Ideas?

</h3>
 <p>The Pre-written startup business idea is a well-written
    manuscript that provides an in-depth analysis of how to
     commence a particular project elected. Furthermore, 
     it exemplifies resources required to run the project 
     selected such as capital, equipment, assets, labour, expenses, 
   marketing strategies and much more related thereto.</p>
 </div>
 
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>Which Way Do We Utilize To Distribute Our Pre-Written Startup Business Ideas To The Consumers?</h3>
 <p>We distribute our business ideas and plans to the consumers in two ways only which are: (i) electronic file (soft copy) or (ii) printout document (hard copy). Meaning to those who are not prepared to come and purchase these business ideas direct from our offices, can opt for the soft copy file. After payments are made, we'll be sending them the business idea of their selection via email instantly.

</p>
 </div>
 <div class="clearfix"></div>
 
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>What Are The Benefits Of Purchasing Our
    Pre-Written Startup Business Ideas?</h3>
 <p>By purchasing our Pre-Written startup business idea, you're conserving your time by 99 per cent. This is true because all the great work was accomplished. We've already performed all the donkey work for you! Only what you've to do is to purchase, read and get commenced.
</p>
 </div>
 
 <div class="large-6 medium-6 small-12 columns faq">
 <h3>Why Our Pre-Written Startup Business Ideas?</h3>
 <p>Besides that they're so cheaper, all our Pre-written 
   ideas consist of three plans in one file. The first plan 
   narrates everything needed to initiate the project you're 
   opting for. It's comprehensively written so that you can
    understand how to produce and how to market. The second
     blueprint is a get funding request. Everything indispensable 
     to attain a loan from money lenders or the bank is also
      exemplified. And the ultimate plan is an internal or an
       in-house plan. It interprets everything required to
        achieve all goals written on the initial plan of the
         project you've preferred. This is why our Pre-Written 
         business ideas are so favourable for everyone.

</p>
 </div>
 
 
 
 </div>
 </div>   
 
 
 
 <div class="newsletter">
 <div class="row">
 <div class="large-12 columns">
 <h2 class="white">YOUR BUSINESS JOURNEY BEGINS HERE</h2>
 <p><p>"If you are waiting be ready for you to get started,
    be carefull, you will be waiting for the rest of
    your life! just start with the little you have"</p>
 </div></p>
 </div>
 <div class="large-2 medium-2 columns hide-for-small">&nbsp;</div>
 <div class="large-8 medium-8 small-12 columns">
 <a href="#" class="button round">leave a message</a>
 
 </div>
 <div class="large-2 medium-2 columns hide-for-small">&nbsp;</div>
 
 </div>
 </div>
 
 <div class="footer-sec">
 <div class="row">
 <div class="large-3 medium-3 small-12 columns">
 <div class="foot-1">
 <h4>Quick Links</h4>
 <ul>
 <li><a href="index" title="Home">Home</a></li>
 <li><a href="about-us" title="About Us">About Us</a></li>
 <li><a href="faq" title="FAQs">FAQs</a></li>
 <li><a href="services" title="Services">Services</a></li>
 <li><a href="contacts" title="Contact">Contact</a></li>
 </ul>
 </div>
 </div>
 
 <div class="large-3 medium-3 small-12 columns">
 <div class="foot-1">
 <h4>Working Hours</h4>
 <ul>
 <li><a href="" title="">Mon 0800AM-0500PM</a></li>
 <li><a href="" title="">Tue 0800AM-0500PM</a></li>
 <li><a href="" title="">Wed 0800AM-0500PM</a></li>
 <li><a href="" title="">Thu 0800AM-0500PM</a></li>
 <li><a href="" title="">Fri 0800AM-0500PM</a></li>
 <li><a href="" title="">Sat 0800AM-0500PM</a></li>
 <li><a href="" title="">Sun Closed</a></li>
 </ul>
 </div>
 </div>
 
 <div class="large-4 medium-3 small-12 columns">
 <div class="foot-1">
 <h4>Address</h4>
 <p>5331 Siam Complex Cnr Midway & Showground Rd<br>
 <p>Chinhoyi Zimbabwe</p>
<p>+263 718 563 030</p>
 <ul>
 <li><a href="mailto:businesshourgroup@gmail.com" target="_blank">businesshourgroup@gmail.com</a></li>
 </ul>
 </div>
 </div>
 
 <div class="large-2 medium-3 small-12 columns">
 <div class="foot-1">
 <!--<h4>Follow Us</h4>
 <div class="social">
 <div class="facebook"><a href="#" class="facebook"></a></div>
 <div class="twitter"><a href="#" class="twitter"></a></div>
 <div class="gplus"><a href="#" class="gplus"></a></div>-->
 </div>
 </div>
 </div>
 
 </div>
 </div>
 
 <div class="copy">
 <div class="row">
 <div class="large-12 columns">
 Copyright &copy; 2021 Business Hour Group All Rights Reserved. <br/></a> Powered by <a >0775514454 and 0771758550</a>
 </div>
 </div>
 </div>
 
 
 
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script type="text/javascript" src="js/all.js"></script>
    
    
  </body>
</html>
