<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Hour Group</title>
    <link rel="stylesheet" href="public/css/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="public/slick/slick.css"/>
    <link rel="stylesheet" href="public/css/css/style.css" />
    <link rel="stylesheet" href="public/css/css/responsive.css" />
    <link rel="shortcut icon" type="image/x-icon" href="public/favicon.ico" />
    <script src="public/js/vendor/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
    <div class="large-4 medium-4 small-12 columns">
    <div id="logo"><a href="/"><img src="public/images/log.png" alt="Business Hour Group">Business Hour Group</a></div>
    </div>
    <div class="large-8 medium-8 small-12 columns">
    <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"> </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="about-us">About Us</a></li>
      <li><a href="faq">FAQs</a></li>
      <li><a href="services">Services</a></li>
      <li><a href="contacts">Contact</a></li>
      <li><a href="coming-soon">Coming</a></li>      
      </ul>
      </li>
    </ul>
  </section>
</nav>
    </div>
    </div>
    
    
    <div class="slider-sec">

<div class="slider single-item">
  <div><img src="public/images/wel1.png" alt=" " /></div>
  <div><img src="public/images/55.png" alt=" " /></div>
  <div><img src="public/images/67.png" alt=" " /></div>
   <div><img src="public/images/98.png" alt=" " /></div>
  <div><img src="public/images/8.png" alt=" " /></div>
  <div><img src="public/images/9.jpg" alt=" " /></div>
  <div><img src="public/images/10.png" alt=" " /></div>
  <div><img src="public/images/11.png" alt=" " /></div>
  <div><img src="public/images/13.png" alt=" " /></div>
  <div><img src="public/images/14.png" alt=" " /></div>
  <div><img src="public/images/15.png" alt=" " /></div>
  <div><img src="public/images/16.png" alt=" " /></div>
  <div><img src="public/images/17.jpg" alt=" " /></div>
  
  
</div>
<div class="row">
<div class="large-12 columns no-pad">
<div class="banner-txt"><h1>Ready To Promote<br />Your New Business</h1>
<a href="#" class="button round">Discus Your Business with us</a>
</div></div>
</div>
    <script type="text/javascript">
$('.single-item').slick();
</script>            
</div>
    
 <div class="content-sec">
 <div class="row">
 <div class="large-12 columns text-center">
 <h2>Welcome to Business Hour Group</h2>
<p>Business Hour Group (BHG) is a coalition of 
  entrepreneurial copywriters in Zimbabwe. We believe 
  that a prosperous business onest with words jotted 
  down on a piece of paper; and those words will turn
   into discernible business. This assumption has motivated
    us to offer accessible pre-written startup business
     ideas and plans to promote those who craving to 
     commence healthy business in Zimbabwe and beyond..</p>
<a href="#" class="button round grey">let us know your business</a> 
 </div></div>
 </div>   
 
 <div class="-sec">
 <div class="row">
 <div class="large-12 columns"><h2>Our Services </h2></div>
 <div class="large-4 medium-4 small-12 columns">
 <div class="img-box"><img src="public/images/wel31.jpg" alt="Service1"></div>
 <div class="txt-box text-center">
 <h3>Pre-written startup business ideas and plans,</h3>
 <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
 <!--<a href="#" class="button radius"> Read More</a>-->
 </div>
 </div>
 
 <div class="large-4 medium-4 small-12 columns">
 <div class="img-box"><img src="public/images/wel4.png" alt="Service1"></div>
 <div class="txt-box text-center">
 <h3>Free shelf-help manuscript </h3>
 <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
 
 </div>
 </div>
 
 <div class="large-4 medium-4 small-12 columns">
 <div class="img-box"><img src="public/images/wel2.png" alt="Service1"></div>
 <div class="txt-box text-center">
 <h3>Advertising</h3>
 <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->

 </div>
 </div>
 
 </div> 
 </div>
 
 <div class="newsletter">
 <div class="row">
 <div class="large-12 columns">
 <h2 class="white">YOUR BUSINESS JOURNEY BEGINS HERE</h2>
 <p>"If you are waiting be ready for you to get started,
    be carefull, you will be waiting for the rest of
    your life! just start with the little you have"</p>
 </div>
 </div>
 <div class="large-2 medium-2 columns hide-for-small">&nbsp;</div>
 <div class="large-8 medium-8 small-12 columns">
 
 <a href="#" class="button round">leave us a message</a>
 </div>
 <div class="large-2 medium-2 columns hide-for-small">&nbsp;</div>
 
 </div>
 </div>
 
 <div class="footer-sec">
 <div class="row">
 <div class="large-3 medium-3 small-12 columns">
 <div class="foot-1">
 <h4>Quick Links</h4>
 <ul>
 <li><a href="/" title="Home">Home</a></li>
 <li><a href="about-us" title="About Us">About Us</a></li>
 <li><a href="faq" title="FAQs">FAQs</a></li>
 <li><a href="" title=""></a></li>
 <li><a href="contacts" title="Contact">Contact</a></li>
 </ul>
 </div>
 </div>
 
 <div class="large-3 medium-3 small-12 columns">
 <div class="foot-1">
 <h4>Working Hours</h4>
 <ul>
 <li><a href="" title="">Mon 0800AM-0500PM</a></li>
 <li><a href="" title="">Tue 0800AM-0500PM</a></li>
 <li><a href="" title="">Wed 0800AM-0500PM</a></li>
 <li><a href="" title="">Thu 0800AM-0500PM</a></li>
 <li><a href="" title="">Fri 0800AM-0500PM</a></li>
 <li><a href="" title="">Sat 0800AM-0500PM</a></li>
 <li><a href="" title="">Sun Closed</a></li>
 </ul>
 </div>
 </div>
 
 <div class="large-4 medium-3 small-12 columns">
 <div class="foot-1">
 <h4>Address</h4>
 <p>5331 Siam Complex Cnr Midway & Showground Rd<br>
 <p>Chinhoyi Zimbabwe</p>
<p>+263 718 563 030</p>
 <ul>
 <li><a href="mailto:businesshourgroup@gmail.com" target="_blank">businesshourgroup@gmail.com</a></li>
 </ul>
 </div>
 </div>
 <div class="large-2 medium-3 small-12 columns">
 <div class="foot-1">
 <!--<h4>Follow Us</h4>
 <div class="social">
 <div class="facebook"><a href="#" class="facebook"></a></div>
 <div class="twitter"><a href="#" class="twitter"></a></div>
 <div class="gplus"><a href="#" class="gplus"></a></div>-->
 </div>
 </div>
 </div>
 
 </div>
 </div>
 
 <div class="copy">
 <div class="row">
 <div class="large-12 columns">
 Copyright &copy; 2021 Business Hour Group All Rights Reserved. <br/></a> Powered by <a >0775514454 and 0771758550</a>
 </div>
 </div>
 </div>
 
 
    
    <script src="public/js/vendor/jquery.js"></script>
    <script src="public/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script type="text/javascript" src="public/js/all.js"></script>
    <script type="text/javascript" src="public/slick/slick.js"></script>
    <script type="text/javascript" src="public/js/scripts.js"></script>
    
    
  </body>
</html>
